body,html{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #e2e8ff
}
.navclass {
    display: flex;
    
    list-style-type: none;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  